* {
    margin: 0;
    padding: 0;
}

a {
    color: red;
    text-decoration: underline;
}

.info-button-2:hover {
    background-color: #d9534f;
}

.info-button-1:hover {
    background-color: #5cb85c;
}

.sure:hover {
    background-color: #5cb85c;
}

.change_info-button-2:hover {
    background-color: #d9534f;
}

.change_info-button-1:hover {
    background-color: #5cb85c;
}

/* 设置弹框时的背景颜色 */
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    visibility: hidden;
    z-index: 1;
}
/* 主信息 */
tbody td {
    height: 40px;
    text-align: center;
}

/* 信息收集表 */
.info {
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}

/* 排序收集表 */
.search_info {
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 搜索收集表 */
.sou_info {
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 解压缩 */
.info_out{
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 上传资料 */
.info_up_zi{
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}

/* 表头 */
.info-title {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}


/* 表头文字 */
.info-title-p {
   margin-left: 20px;
   line-height: 41px;
}


/* 主体 */
.info-main {
    width: 404px;
    height: 680px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}






/* 所有的下载信息 */
/* 下载表头 */
.info-title_down {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 下载表头文字 */
.info-title_down-p {
    margin-left: 20px;
    line-height: 41px;
 }
/* 下载收集表 */
.info_down {
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 下载主体 */
.info-main_down {
    width: 404px;
    height: 440px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}

.info-main_down input {
    /* display: block; */
    background-color: #ebebe4;
    margin-left: 80px;
}
/* 下载选择栏 */
.chioce3_down {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
/* 表单按钮 */
.info-button_down-1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 表单按钮 */
.info-button_down-2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 所有的下载信息 */




/* 所有的上传信息 */
/* 下载表头 */
.info-title_up {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 下载表头文字 */
.info-title_up-p {
    margin-left: 20px;
    line-height: 41px;
 }
/* 下载收集表 */
.info_up {
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 下载主体 */
.info-main_up {
    width: 404px;
    height: 440px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}

.info-main_up input {
    /* display: block; */
    background-color: #ebebe4;
    margin-left: 80px;
}
/* 下载选择栏 */
.chioce3_up {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
/* 表单按钮 */
.info-button_up-1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 表单按钮 */
.info-button_up-2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 所有的上传信息 */

/* 所有的上传资料信息 */
/* 下载表头 */
.info-title_up_zi {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 下载表头文字 */
.info-title_up_zi-p {
    margin-left: 20px;
    line-height: 41px;
 }
/* 下载收集表 */
.info_up_zi {
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 下载主体 */
.info-main_up_zi {
    width: 404px;
    height: 440px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}

.info-main_up_zi input {
    /* display: block; */
    background-color: #ebebe4;
    margin-left: 80px;
}
/* 下载选择栏 */
.chioce3_up_zi {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
/* 表单按钮 */
.info-button_up_zi-1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 表单按钮 */
.info-button_up_zi-2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 所有的上传资料信息 */

/* 所有的解压信息 */
/* 下载表头 */
.info-title_out {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 下载表头文字 */
.info-title_out-p {
    margin-left: 20px;
    line-height: 41px;
 }
/* 下载收集表 */
.info_out {
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 下载主体 */
.info-main_out {
    width: 404px;
    height: 440px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}

.info-main_out input {
    /* display: block; */
    background-color: #ebebe4;
    margin-left: 80px;
}
/* 下载选择栏 */
.chioce3_out {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
/* 表单按钮 */
.info-button_out-1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 表单按钮 */
.info-button_out-2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 所有的解压信息 */











/* 所有的查询作业信息 */
/* 下载表头 */
.info-title_look {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 下载表头文字 */
.info-title_look-p {
    margin-left: 20px;
    line-height: 41px;
 }
/* 下载收集表 */
.info_look{
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 下载主体 */
.info-main_look {
    width: 404px;
    height: 440px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}

.info-main_look input {
    /* display: block; */
    background-color: #ebebe4;
    margin-left: 80px;
}
/* 下载选择栏 */
.chioce3_look {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
/* 表单按钮 */
.info-button_look-1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 表单按钮 */
.info-button_look-2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 所有的下载信息 */




/* 所有的日志信息 */
/* 下载表头 */
.info-title_day {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 下载表头文字 */
.info-title_day-p {
    margin-left: 20px;
    line-height: 41px;
 }
/* 下载收集表 */
.info_day{
    width: 551px;
    height: 452px;
    visibility: hidden;
    position: absolute;
    left: 524px;
    z-index: 2;
}
/* 下载主体 */
.info-main_day {
    width: 404px;
    height: 440px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}


/* 下载选择栏 */
.chioce3_day {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
/* 表单按钮 */
.info-button_day-1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 表单按钮 */
.info-button_day-2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
/* 所有的日志信息 */







/* 选择栏 */
.chioce3 {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
/* 表单按钮 */
.info-button-1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}


.info-button-2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

/* 排序表头 */
.info-title_test1 {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 排序表头文字 */
.info-title-p_test1 {
    margin-left: 20px;
    line-height: 41px;
 }
 /* 排序主体 */
.info-main_test1 {
    width: 404px;
    height: 334px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}
.info-main_test1 input {
    /* display: block; */
    background-color: #ebebe4;
    margin-left: 80px;
}
/* 选择栏 */
.cchioce3_test {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
.info-button-test1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.info-button-test2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

/* 搜索表头 */
.info-title_test2 {
    width: 551px;
    height: 41px;
    color: #ffffff;
    background-color: #555555;
    font-size: 20px;
}
/* 搜索表头文字 */
.info-title-p_test2 {
    margin-left: 20px;
    line-height: 41px;
 }
 /* 搜索主体 */
.info-main_test2 {
    width: 404px;
    height: 334px;
    background-color: #fff;
    padding-left: 147px;
    padding-top: 20px;
    border: 1px solid #000;
}
.info-main_test2 input {
    /* display: block; */
    background-color: #ebebe4;
    margin-left: 80px;
}
/* 选择栏 */
.chioce3_s {
    width: 551px;
    height: 60px;
    border: 1px solid #000;
}
.info-button-s1 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.info-button-s2 {
    width: 96px;
    height: 41px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}




/* 网页 */
.W {
    width: 2000px;
    height: 1500px;
    background-color: #f0ece9;
    border: 2px solid #b6b4b6;
}

/* title */
.title {
    width: 1202px;
    height: 63px;
    margin-left: 200px;
}

/* 顶部的文字 */
.titleword{
    width: 400px;
    height: 50px;
    display: inline-block;
    text-align: center;
    color: #999999;
    margin-top: 17px;
}

/* 顶部的线 */
.border-line-left{
    width: 400px;
    height: 30px;
    float: left;
    border-bottom: 4px solid #c3a080;
}

/* 顶部的线 */
.border-line-right{
    width: 400px;
    height: 30px;
    float: right;
    border-bottom: 4px solid #c3a080;
}

/* 新增 删除*/
.chioce1{
    height: 56px;
    width: 1202px;
    margin-left: 200px;
}

/* 新增 */
.btn-add{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color: #5cb85c;
    border: 1px solid black;
}

/* 删除 */
.btn-del{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#d9534f;
    border: 1px solid black;
}
/* 排序 */
.btn-test{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#d9534f;
    border: 1px solid black;
}
/* 搜索 */
.btn-search{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#d9534f;
    border: 1px solid black;
}
/* 下载电子资料 */
.btn-down{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color: #5cb85c;
    border: 1px solid black;
}
/* 上传作业 */
.btn-up{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#d9534f;
    border: 1px solid black;
}
/* 刷新界面 */
.btn-re{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#994fd9;
    border: 1px solid black;
}
/* 查询作业界面 */
.btn-look{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#994fd9;
    border: 1px solid black;
}
/* 日志界面 */
.btn-day{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#994fd9;
    border: 1px solid black;
}
/* 解压界面 */
.btn-out{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#994fd9;
    border: 1px solid black;
}
/* 上传资料界面 */
.btn-up_zi{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#994fd9;
    border: 1px solid black;
}




/* 主界面 */
.Mainpage{
    height: 900px;
    width: 1500px;
}

/* 表格 */
.mainpage{
    text-align: center;
    border-collapse: collapse;
    width: 1202px;
    margin-left: 200px;
}


/* 信息提示栏 */
.MessageBoard{
    width:1202px;
    height: 56px;
    background-color: #dadee1;
}

/* 第一个小圆点按钮 */
.check-all {
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background-color: #dedede;
    border: 1px solid black;
}

/* 余下的小圆点按钮 */
.last {
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background-color: #dedede;
    border: 1px solid black;
    margin-top: 14px;
}

/* 第一行高度 */
.MessageBoard th{
    height: 55px;
}

   /* 奇数信息显示栏 */
.informationdisplaybar-evennumber{
    width: 1202px;
    height: 41px;
    background-color: #ffffff;
}

/* 偶数信息显示栏 */
.informationdisplaybar-oddnumber{
    width: 1202px;
    height: 41px;
    background-color: #eef1f8;
} 


/* 翻页界面 */
.chioce2{
    height: 61px;
    width: 1202px;
    margin-left: 200px;
    position: relative;
}

/* 上一页 */
.button-Previous{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color: #5cb85c;
    border: 1px solid black;
    position:absolute;
    left: 1000px;
    top: 21px;
}

/* 下一页 */
.button-nextpage{
    width: 96px;
    height: 41px;
    display: inline-block;
    color: white;
    background-color:#d9534f;
    border: 1px solid black;
    position:absolute;
    left: 1106px;
    top: 21px;
}

/* 显示当前页数 */
.showpage{
    float: left;
    line-height: 62px;
}

